apiVersion: v1
kind: ConfigMap
metadata:
  name: sync
  namespace: {{ namespace }}
  labels:
    mobile: enabled
    serviceName: sync
    serviceInstanceID: '{{_apb_service_instance_id}}'
data:
  id: sync
  type: sync
  name: sync
  uri: https://{{ data_sync_server_route.route.spec.host }}/graphql
